
.cproject
.ino.cpp
.project
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.core.resources.prefs
4-digit-display.png
ARDUINO_NANO_03.png
Back_power_connections_schematic_labels_a1.fw.png
Board_connections_schematic_labels.png
Board_connections_schematic_labels_usbmod_change.fw.png
Board_connections_schematic_labels_usbmod_change_a1.fw.png
Board_connections_schematic_labels_usbmod_change_a2.fw.png
Board_connections_schematic_labels_usbmod_change_a3.fw.png
Board_connections_schematic_labels_usbmod_change_final1.fw.png
CL_UVScanner_bb.jpg
CL_UVScanner_bb.pdf
*.vsdx
Footage/
Fritzing Parts/
Mode_boxes_chart.pdf
Mode_boxes.pdf
Modes.pdf
nano.pdf
nano.png
nano_ai.png
Release/
Start_Button_push_logic_landscape.png
Strips_distance.xlsx
